<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src='https://cdn.plot.ly/plotly-2.18.0.min.js'></script>
        <link rel="stylesheet" href="/stylesheets/normalize.css"/>
        <link rel="stylesheet" href="/stylesheets/skeleton.css"/>
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<title> Class Vision</title>

		<%# The header links for homepage, timetable, and back button %>
		<a class="button" id="home" href="/" style="position: absolute; margin: 1%;">Home<br></a>
		<a class="button" id="timetable" href="/timetable" style="position: absolute; margin: 1% 1% 1% 9.5%; z-index: 2;">Timetable<br></a>
		<a class="button" id="back" onclick="history.back()" style="position: absolute; margin: 1% 1% 1% 20.5%; z-index: 3;"> < Back<br></a> 

		<img src="/imgs/logo.png" style="position:absolute; float: right; z-index: 2; margin-left: 84%; margin-top: 1%; margin-right: 1%;" width="15%">
	</head>
	<body>
